* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table{
    text-align: center;
    margin-top: 10px;
}

th,td{
    padding: 0.7rem;
    border: 0.5px solid ;
}

.gopon {
    display: none;
}

.container {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

}

.card {
    height: 32vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    border-radius: 20px 20px 0 0;
}

p{
    margin-top: 10px;
    font-size: medium;
}

.card2 {
    height: 68vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 0px 0px 20px 20px ;
    padding: 1rem;

}

.card-head {
    color: wheat;
    text-align: center;
    font-size: 1.2rem;
}

.btn {
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 0.3rem;
    padding: 0.2rem;
    transition: all 0.3s;
    cursor: pointer;
}

#aay{
    width: 300px;
    font-size: 16px;
}


#aay::placeholder {
    background-color: #FFFF00; 
    color: black; 
}

table{

}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 1rem;
}


.card2m{
    background-color: royalblue;
}
.card2f{
    background-color: palevioletred;
}

// for mobile and tab

@media screen and (max-width: 700px) {
    .card {
        height: 32vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: forestgreen;
        border-radius: 20px 20px 0 0;
    }
    
    
    .card2 {
        height: 68vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        border-radius: 0px 0px 20px 20px ;
        padding: 1rem;
    
    }

    #aay{
        width: 200px;
        font-size: 14px;
    }

    table{
        text-align: center;
        margin-top: 10px;
    }
    
    th,td{
        padding: 0.4rem;
        border: 0.5px solid ;
    }

    #aay::placeholder {
        background-color: orange; 
        color: black; 
    }
    
}



